crontab -e

#Then add this line to run after reboot, better do it as root i guess.
@reboot python /home/pi/Pimoroni/blinkt/examples/rainbow.py &

* * * * * cp -ru /dev/shm/ /home/k/                  @reboot cp -ru /home/k/shm/* /dev/shm/ &
